---
import Layout from "../layouts/Layout.astro";
import Header from "../sections/Header.astro";
import Interactive from "../sections/Interactive.astro";
import Gallery from "../sections/Gallery.astro";
import Footer from "../sections/Footer.astro";
---

<Layout title="Loopstudios.">
  <Header />
  <main>
    <Interactive />
    <Gallery />
  </main>
  <Footer />
</Layout>
