<footer class="bg-prim-600">
  <section class="footer">
    <div
      class="flex flex-col items-center justify-center gap-8 p-6 md:flex-row md:justify-between"
    >
      <!-- Logo -->
      <a href="/" class="outline-none">
        <svg class="h-20 w-48 cursor-pointer">
          <use xlink:href="./assets/icons.svg#logo"></use>
        </svg>
      </a>

      <!-- Social links and Copyright -->
      <div class="space-y-4">
        <!-- Social Links -->
        <ul class="flex items-center justify-center gap-4">
          <li>
            <a href="https://www.facebook.com/rodel.arcoirez">
              <svg
                title="instagram icon"
                class="h-10 w-10 transition hover:scale-90"
              >
                <use xlink:href="./assets/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="/">
              <svg
                title="instagram icon"
                class="h-10 w-10 transition hover:scale-90"
              >
                <use xlink:href="./assets/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="/">
              <svg
                title="instagram icon"
                class="h-10 w-10 transition hover:scale-90"
              >
                <use xlink:href="./assets/icons.svg#tiktok"></use>
              </svg>
            </a>
          </li>
        </ul>
        <!-- Copyright-->
        <p class="text-white">© 2023 Spicoder. All Rights Reserved</p>
      </div>
    </div>
  </section>
</footer>
