<section id="gallery" class="bg-prim-200">
  <div
    class="gallery-section flex flex-wrap items-center justify-center md:justify-between"
  >
    <!-- Gallery Heading -->
    <h2 class="my-16 text-center text-txt-dark">Our dogs</h2>
    <!-- Gallery Content -->
    <!-- Dogs -->
    <div class="grid grid-cols-2 gap-8 md:order-3 md:grid-cols-4">
      <!-- 1 -->
      <div class="group relative overflow-hidden">
        <img
          class="transition group-hover:scale-110"
          src="./assets/dogs/1.webp"
          alt="Picture of dog"
        />
      </div>

      <!-- 2 -->
      <div class="group relative overflow-hidden">
        <img
          class="transition group-hover:scale-110"
          src="./assets/dogs/2.webp"
          alt="Picture of dog"
        />
      </div>

      <!-- 3 -->
      <div class="group relative overflow-hidden">
        <img
          class="transition group-hover:scale-110"
          src="./assets/dogs/3.webp"
          alt="Picture of dog"
        />
      </div>

      <!-- 4 -->
      <div class="group relative overflow-hidden">
        <img
          class="transition group-hover:scale-110"
          src="./assets/dogs/4.webp"
          alt="Picture of dog"
        />
      </div>
    </div>
    <!-- See all button -->
    <div
      class="my-12 w-full rounded-md border-2 border-prim-400 px-12 py-2 text-center uppercase text-txt-dark hover:bg-prim-400 hover:text-white md:order-2 md:w-auto"
    >
      <a href="/" class="tracking-widest">see all</a>
    </div>
  </div>

  <!-- Customers -->
  <div
    id="customers"
    class="gallery-section flex flex-wrap items-center justify-center pb-16 md:justify-between"
  >
    <!-- Gallery Heading -->
    <h2 class="my-16 text-center text-txt-dark">Our customers</h2>
    <!-- Gallery Content -->
    <div class="grid grid-cols-2 gap-8 md:order-3 md:grid-cols-4">
      <!-- 1 -->
      <div class="group relative overflow-hidden">
        <img
          class="transition group-hover:scale-110"
          src="./assets/customers/1.jpg"
          alt="Picture of dog"
        />
      </div>

      <!-- 2 -->
      <div class="group relative overflow-hidden">
        <img
          class="transition group-hover:scale-110"
          src="./assets/customers/2.jpg"
          alt="Picture of dog"
        />
      </div>

      <!-- 4 -->
      <div class="group relative overflow-hidden">
        <img
          class="h-full w-full object-cover transition group-hover:scale-110"
          src="./assets/customers/4.jpg"
          alt="Picture of dog"
        />
      </div>

      <!-- 5 -->
      <div class="group relative overflow-hidden">
        <img
          class="h-full w-full object-cover transition group-hover:scale-110"
          src="./assets/customers/5.jpg"
          alt="Picture of dog"
        />
      </div>

      <!-- 6 -->
      <div class="group relative overflow-hidden">
        <img
          class="h-full w-full object-cover transition group-hover:scale-110"
          src="./assets/customers/6.jpg"
          alt="Picture of dog"
        />
      </div>

      <!-- 7 -->
      <div class="group relative overflow-hidden">
        <img
          class="h-full w-full object-cover transition group-hover:scale-110"
          src="./assets/customers/7.jpg"
          alt="Picture of dog"
        />
      </div>

      <!-- 8 -->
      <div class="group relative overflow-hidden">
        <img
          class="h-full w-full object-cover transition group-hover:scale-110"
          src="./assets/customers/8.jpg"
          alt="Picture of dog"
        />
      </div>

      <!-- 1 -->
      <div class="group relative overflow-hidden">
        <img
          class="h-full w-full object-cover transition group-hover:scale-110"
          src="./assets/customers/9.jpg"
          alt="Picture of dog"
        />
      </div>

      <!-- 2 -->
      <div class="group relative overflow-hidden">
        <img
          class="h-full w-full object-cover transition group-hover:scale-110"
          src="./assets/customers/10.jpg"
          alt="Picture of dog"
        />
      </div>

      <!-- 3 -->
      <div class="group relative overflow-hidden">
        <img
          class="h-full w-full object-cover transition group-hover:scale-110"
          src="./assets/customers/11.jpg"
          alt="Picture of dog"
        />
      </div>

      <!-- 4 -->
      <div class="group relative overflow-hidden">
        <img
          class="h-full w-full object-cover transition group-hover:scale-110"
          src="./assets/customers/12.jpg"
          alt="Picture of dog"
        />
      </div>

      <!-- 5 -->
      <div class="group relative overflow-hidden">
        <img
          class="h-full w-full object-cover transition group-hover:scale-110"
          src="./assets/customers/13.jpg"
          alt="Picture of dog"
        />
      </div>

      <!-- 6 -->
      <div class="group relative overflow-hidden">
        <img
          class="h-full w-full object-cover transition group-hover:scale-110"
          src="./assets/customers/14.jpg"
          alt="Picture of dog"
        />
      </div>

      <!-- 7 -->
      <div class="group relative overflow-hidden">
        <img
          class="h-full w-full object-cover transition group-hover:scale-110"
          src="./assets/customers/15.jpg"
          alt="Picture of dog"
        />
      </div>

      <!-- 8 -->
      <div class="group relative overflow-hidden">
        <img
          class="h-full w-full object-cover transition group-hover:scale-110"
          src="./assets/customers/16.jpg"
          alt="Picture of dog"
        />
      </div>

      <!-- 8 -->
      <div class="group relative overflow-hidden">
        <img
          class="h-full w-full object-cover transition group-hover:scale-110"
          src="./assets/customers/17.jpg"
          alt="Picture of dog"
        />
      </div>
    </div>
  </div>
</section>
