<section
  class="gallery-section flex flex-wrap items-center justify-center md:justify-between"
>
  <!-- Gallery Heading -->
  <h2 class="my-16 text-center">Our creations</h2>
  <!-- Gallery Content -->
  <div class="grid gap-8 md:order-3 md:grid-cols-4">
    <!-- 1 -->
    <div class="group relative overflow-hidden">
      <div
        class="absolute -z-10 h-full w-full bg-white bg-opacity-50 transition group-hover:z-20"
      ></div>
      <picture class="z-10">
        <source
          srcset="./images/desktop/image-deep-earth.jpg"
          media="(min-width:768px)"
        />
        <source srcset="./images/mobile/image-deep-earth.jpg" />
        <img
          class="transition group-hover:scale-110"
          src="./images/mobile/image-deep-earth.jpg"
          alt="Picture of earth"
        />
      </picture>
      <p
        class="absolute bottom-0 z-30 w-full p-8 py-6 text-left text-2xl uppercase text-white transition group-hover:scale-105 group-hover:text-black md:max-w-max"
      >
        Deep earth
      </p>
    </div>
    <!-- 2 -->
    <div class="group relative overflow-hidden">
      <div
        class="absolute -z-10 h-full w-full bg-white bg-opacity-50 transition group-hover:z-20"
      ></div>
      <picture class="z-10">
        <source
          srcset="./images/desktop/image-night-arcade-desktop.jpg"
          media="(min-width:768px)"
        />
        <source srcset="./images/mobile/image-night-arcade-mobile.jpg" />
        <img
          class="transition group-hover:scale-110"
          src="./images/mobile/image-night-arcade-mobile.jpg"
          alt="Picture of earth"
        />
      </picture>
      <p
        class="absolute bottom-0 z-30 w-full p-8 py-6 text-left text-2xl uppercase text-white transition group-hover:scale-105 group-hover:text-black md:max-w-max"
      >
        night arcade
      </p>
    </div>
    <!-- 3 -->
    <div class="group relative overflow-hidden">
      <div
        class="absolute -z-10 h-full w-full bg-white bg-opacity-50 transition group-hover:z-20"
      ></div>
      <picture class="z-10">
        <source
          srcset="./images/desktop/image-soccer-team.jpg"
          media="(min-width:768px)"
        />
        <source srcset="./images/mobile/image-soccer-team.jpg" />
        <img
          class="transition group-hover:scale-110"
          src="./images/mobile/image-soccer-team.jpg"
          alt="Picture of earth"
        />
      </picture>
      <p
        class="absolute bottom-0 z-30 w-full p-8 py-6 text-left text-2xl uppercase text-white shadow-white transition group-hover:scale-105 group-hover:text-black md:max-w-max"
      >
        soccer team vr
      </p>
    </div>
    <!-- 4 -->
    <div class="group relative overflow-hidden">
      <div
        class="absolute -z-10 h-full w-full bg-white bg-opacity-50 transition group-hover:z-20"
      ></div>
      <picture class="z-10">
        <source
          srcset="./images/desktop/image-grid.jpg"
          media="(min-width:768px)"
        />
        <source srcset="./images/mobile/image-grid.jpg" />
        <img
          class="transition group-hover:scale-110"
          src="./images/mobile/image-grid.jpg"
          alt="Picture of earth"
        />
      </picture>
      <p
        class="absolute bottom-0 z-30 w-full p-8 py-6 text-left text-2xl uppercase text-white transition group-hover:scale-105 group-hover:text-black md:max-w-max"
      >
        The grid
      </p>
    </div>
    <!-- 5 -->
    <div class="group relative overflow-hidden">
      <div
        class="absolute -z-10 h-full w-full bg-white bg-opacity-50 transition group-hover:z-20"
      ></div>
      <picture class="z-10">
        <source
          srcset="./images/desktop/image-from-above.jpg"
          media="(min-width:768px)"
        />
        <source srcset="./images/mobile/image-from-above.jpg" />
        <img
          class="transition group-hover:scale-110"
          src="./images/mobile/image-from-above.jpg"
          alt="Picture of earth"
        />
      </picture>
      <p
        class="absolute bottom-0 z-30 w-full p-8 py-6 text-left text-2xl uppercase text-white transition group-hover:scale-105 group-hover:text-black md:max-w-max"
      >
        From up above vr
      </p>
    </div>
    <!-- 6 -->
    <div class="group relative overflow-hidden">
      <div
        class="absolute -z-10 h-full w-full bg-white bg-opacity-50 transition group-hover:z-20"
      ></div>
      <picture class="z-10">
        <source
          srcset="./images/desktop/image-pocket-borealis.jpg"
          media="(min-width:768px)"
        />
        <source srcset="./images/mobile/image-pocket-borealis.jpg" />
        <img
          class="transition group-hover:scale-110"
          src="./images/mobile/image-pocket-borealis.jpg"
          alt="Picture of earth"
        />
      </picture>
      <p
        class="absolute bottom-0 z-30 w-full p-8 py-6 text-left text-2xl uppercase text-white transition group-hover:scale-105 group-hover:text-black md:max-w-max"
      >
        pocket borealis
      </p>
    </div>
    <!-- 7 -->
    <div class="group relative overflow-hidden">
      <div
        class="absolute -z-10 h-full w-full bg-white bg-opacity-50 transition group-hover:z-20"
      ></div>
      <picture class="z-10">
        <source
          srcset="./images/desktop/image-curiosity.jpg"
          media="(min-width:768px)"
        />
        <source srcset="./images/mobile/image-curiosity.jpg" />
        <img
          class="transition group-hover:scale-110"
          src="./images/mobile/image-curiosity.jpg"
          alt="Picture of earth"
        />
      </picture>
      <p
        class="absolute bottom-0 z-30 w-full p-8 py-6 text-left text-2xl uppercase text-white transition group-hover:scale-105 group-hover:text-black md:max-w-max"
      >
        The curiosity
      </p>
    </div>
    <!-- 8 -->
    <div class="group relative overflow-hidden">
      <div
        class="absolute -z-10 h-full w-full bg-white bg-opacity-50 transition group-hover:z-20"
      ></div>
      <picture class="z-10">
        <source
          srcset="./images/desktop/image-fisheye.jpg"
          media="(min-width:768px)"
        />
        <source srcset="./images/mobile/image-fisheye.jpg" />
        <img
          class="transition group-hover:scale-110"
          src="./images/mobile/image-fisheye.jpg"
          alt="Picture of earth"
        />
      </picture>
      <p
        class="absolute bottom-0 z-30 w-full p-8 py-6 text-left text-2xl uppercase text-white transition group-hover:scale-105 group-hover:text-black md:max-w-max"
      >
        make it fisheye
      </p>
    </div>
  </div>
  <!-- See all button -->
  <div
    class="my-12 w-full border-2 border-black px-12 py-2 text-center font-bold uppercase hover:bg-black hover:text-white md:order-2 md:w-auto"
  >
    <a href="/" class="">see all</a>
  </div>
</section>
