<section class="hero-section">
  <!-- Navigation -->
  <nav class="relative flex items-center justify-between">
    <!-- Logo -->
    <img src="./images/logo.svg" alt="logo" />
    <!-- Nav Links -->
    <div class="hidden md:block">
      <ul class="flex items-center justify-between gap-8 text-white">
        <li class="group space-y-1">
          <a href="/" class="font-body font-bold">About</a>
          <div
            class="border opacity-0 group-hover:border-b-white group-hover:opacity-100"
          ></div>
        </li>
        <li class="group space-y-1">
          <a href="/" class="font-body font-bold">Careers</a>
          <div
            class="border opacity-0 group-hover:border-b-white group-hover:opacity-100"
          ></div>
        </li>
        <li class="group space-y-1">
          <a href="/" class="font-body font-bold">Events</a>
          <div
            class="border opacity-0 group-hover:border-b-white group-hover:opacity-100"
          ></div>
        </li>
        <li class="group space-y-1">
          <a href="/" class="font-body font-bold">Products</a>
          <div
            class="border opacity-0 group-hover:border-b-white group-hover:opacity-100"
          ></div>
        </li>
        <li class="group space-y-1">
          <a href="/" class="font-body font-bold">Support</a>
          <div
            class="border opacity-0 group-hover:border-b-white group-hover:opacity-100"
          ></div>
        </li>
      </ul>
    </div>
    <!-- Icons -->
    <div class="md:hidden">
      <!-- Hamburger icon -->
      <div class="space-y-1.5" id="hamburger">
        <div class="top h-[2px] w-7 bg-white"></div>
        <div class="mid h-[2px] w-7 bg-white"></div>
        <div class="bot h-[2px] w-7 bg-white"></div>
      </div>
      <!-- Close icon -->
      <!-- <div class="space-y-1.5" id="close">
          <div
            class="top h-[2px] w-7 origin-left translate-x-2 rotate-[35deg] bg-white"
          ></div>
          <div class="invisible h-[2px]"></div>
          <div
            class="bot h-[2px] w-7 origin-left translate-x-2 -rotate-[35deg] bg-white"
          ></div>
        </div> -->
    </div>
  </nav>
  <!-- Hero Content -->
  <div class="flex items-center justify-start">
    <h1
      id="head"
      class="my-40 max-w-lg border-2 border-white p-4 text-white md:p-8 lg:text-6xl"
    >
      Impressive experiences that deliver
    </h1>
  </div>
  <!-- Nav Links in Hamburger icon -->
  <div
    id="burger-links"
    class="disable absolute top-0 left-0 grid h-screen w-screen place-items-center bg-black"
  >
    <ul class="grid place-items-center gap-12 p-16 text-xl text-white">
      <li class="w-full text-center opacity-70 hover:opacity-100">About</li>
      <li class="w-full text-center opacity-70 hover:opacity-100">Careers</li>
      <li class="w-full text-center opacity-70 hover:opacity-100">Events</li>
      <li class="w-full text-center opacity-70 hover:opacity-100">Products</li>
      <li class="w-full text-center opacity-70 hover:opacity-100">Support</li>
    </ul>
  </div>
</section>
