<div class="py-36 px-6 md:px-12 mx-auto max-w-7xl">
  <h1
    class="uppercase border-2 border-white p-4 md:p-10 inline-block text-4xl max-w-lg text-white md:text-6xl font-extralight"
  >
    impressive experiences that deliver
  </h1>
</div>
