<section id="types">
  <div class="types-section space-y-20 font-body text-txt-dark">
    <h3 class="text-3xl">Find suitable dog for you</h3>
    <!-- Items Container -->
    <div class="flex flex-col gap-16 md:flex-row md:gap-12">
      <!-- Item 1 -->
      <div class="flex flex-col items-center gap-2">
        <svg class="icon icon-circle">
          <use xlink:href="./assets/icons.svg#size"></use>
        </svg>
        <!-- <img
          src="./assets/size.svg"
          alt=""
          class="w-20 "
        /> -->
        <h4 class="text-lg font-bold">Size</h4>
        <p class="text-grayishBlue max-w-md">
          It's important to choose a dog that fits your living situation and
          available space.
        </p>
      </div>

      <!-- Item 2 -->
      <div class="flex flex-col items-center gap-2">
        <svg class="icon icon-circle">
          <use xlink:href="./assets/icons.svg#character"></use>
        </svg>
        <h4 class="text-lg font-bold">Character</h4>
        <p class="text-grayishBlue max-w-md">
          Choose a dog with a character that matches your personality and
          lifestyle to ensure a happy and long-lasting relationship.
        </p>
      </div>

      <!-- Item 3 -->
      <div class="flex flex-col items-center gap-2">
        <svg class="icon icon-circle">
          <use xlink:href="./assets/icons.svg#energy"></use>
        </svg>
        <h4 class="text-lg font-bold">Energy</h4>
        <p class="text-grayishBlue max-w-md">
          Make sure to match the energy level of the dog with your lifestyle to
          ensure a good fit.
        </p>
      </div>
    </div>
  </div>
</section>
