---
import Image from "../components/Image.astro";
---

<div id="gallery-section" class="mx-auto my-40 max-w-7xl px-6 md:px-12">
  <div>
    <h2 class="uppercase text-center mx-auto text-4xl font-light text-txt-dark">
      our creations
    </h2>
    <div class="mt-20 space-y-8">
      <Image
        srcDesktop="../../public/images/desktop/image-deep-earth.jpg"
        srcMobile="../../public/images/mobile/image-deep-earth.jpg"
        title="deep earth"
      />
      <Image
        srcDesktop="../../public/images/desktop/image-night-arcade.jpg"
        srcMobile="../../public/images/mobile/image-night-arcade.jpg"
        title="night arcade"
      />
      <Image
        srcDesktop="../../public/images/desktop/image-soccer-team.jpg"
        srcMobile="../../public/images/mobile/image-soccer-team.jpg"
        title="soccer team vr"
      />
      <Image
        srcDesktop="../../public/images/desktop/image-grid.jpg"
        srcMobile="../../public/images/mobile/image-grid.jpg"
        title="the grid"
      />
      <Image
        srcDesktop="../../public/images/desktop/image-from-above.jpg"
        srcMobile="../../public/images/mobile/image-from-above.jpg"
        title="from up above vr"
      />
      <Image
        srcDesktop="../../public/images/desktop/image-pocket-borealis.jpg"
        srcMobile="../../public/images/mobile/image-pocket-borealis.jpg"
        title="pocket borealis"
      />
      <Image
        srcDesktop="../../public/images/desktop/image-curiosity.jpg"
        srcMobile="../../public/images/mobile/image-curiosity.jpg"
        title="the curiosity"
      />
      <Image
        srcDesktop="../../public/images/desktop/image-fisheye.jpg"
        srcMobile="../../public/images/mobile/image-fisheye.jpg"
        title="make it fisheye"
      />
    </div>
  </div>
</div>
