@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-body text-4xl font-extralight uppercase;
  }
  h2 {
    @apply font-body text-4xl font-extralight uppercase;
  }

  h3 {
    @apply font-body text-2xl font-extralight uppercase text-gray-800;
  }

  p {
    @apply font-body text-base font-extralight text-gray-800;
  }
}

.disable {
  @apply pointer-events-none invisible opacity-0 transition-all duration-500;
}

.enable {
  @apply pointer-events-auto visible opacity-100 transition-all duration-500;
}

[class*='-section'] {
  @apply mx-auto max-w-7xl px-6 py-16 md:px-12 lg:px-20;
}

body {
  background-image: url(./images/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  position: relative;
}

@media (max-width: 500px) {
  [class*='-section'] {
    @apply px-4;
  }

  body {
    background-image: none;
  }
  .hero {
    background-image: url(./images/mobile/image-hero.jpg);
    background-size: cover;
  }
}

.gradient {
  @apply bg-gradient-to-b from-transparent to-gray-900;
}
/* Menu */

/* <!-- Icon -->
<div class="open">
  <!-- Menu -->
  <div class="menu md:hidden">
    <div class="top"></div>
    <div class="mid"></div>
    <div class="bot"></div>
  </div>
</div> */

.menu {
  width: 24px;
  height: 24px;
  position: relative;
}

.top,
.mid,
.bot {
  width: 24px;
  height: 2px;
  position: absolute;
  background-color: white;
  top: 50%;
  transform: rotate(0deg);
  transition: all;
  transition-duration: 200ms;
}

.top {
  transform: translateY(-8px);
}

.bot {
  transform: translateY(8px);
}

.open .menu {
  transform: rotate(90deg);
  transition: all;
  transition-duration: 0.2s;
}

.open .top {
  transform: rotate(45deg);
}

.open .bot {
  transform: rotate(-45deg);
}

.open .mid {
  display: none;
}
